<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
</head>
<body>
<h1>Pilot List</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <!-- Add more columns as needed -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="pilot : ${pilots}">
        <td th:text="${pilot.crewname}"></td>
        <td th:text="${pilot.qualificationcode}"></td>
        <td th:text="${pilot.expirydate}"></td>
        <td th:text="${pilot.daysremaining}"></td>
        <!-- Add more columns as needed -->
    </tr>
    </tbody>
</table>
</body>
</html>
